<nav class="menu">
    <!-- El enlace a la portada principal -->
    <a class="nav-home" href="index.html">🏠 Accueil</a>

    <div class="dropdown">
        <button class="dropbtn">⭐ Collections</button>
        <div class="dropdown-content">
            <a href="Collier.html">Collier</a>
            <a href="Bracelet.html">Bracelet</a>
            <a href="Bracelet-de-cheville.html">Bracelet de cheville</a>
            <a href="Bague.html">Bague</a>
            <a href="Boucle-d-oreille.html">Boucle d'oreille</a>
            <a href="Montre.html">Montre</a>
        </div>
    </div>

    <a class="nav-contact" href="contact.html">✉️ Contact</a>
</nav>